<div id="consulta">
  <h1>Consulta</h1>
  <form class="formulario" action="index.html" method="post">
    <div class="first-section">
      <div class="col1">
        <label for="nombre">Nombre</label><br>
        <input type="text" name="nombre" >

      </div>
      <div class="col2">
        <label for="email">Email</label><br>

        <input type="email" name="email" >

      </div>

    </div>
    <br>
    <div class="second-section">
      <label for="descripción">Descripción</label>
      <textarea name="Descripcion" >¿En qué podemos ayudarte?</textarea>
      <input type="submit" name="name" value="Enviar">

    </div>


  </form>

</div>
