<footer>
  <div class="logo">{%include logo.html%}</div>
    <div class="container">
      <div class="foot1">
        <a href="#buscar"><span class="octicon octicon-search"></span>
      </a>
        <a href="#servicios">Servicios</a>
        <a href="#quienes">Quiénes Somos</a>
        <a href="#consulta">Consulta</a>
      </div>
      <div class="foot2">
        <p>
          Siempre a tu servicio en:
        </p>
        <div class="footmap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12145.580773658265!2d-3.6725936499999996!3d40.444389349999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1468826901458" width="243" height="170" frameborder="0" style="border:0" allowfullscreen ></iframe>

        </div>
      </div>
      <div class="foot3">
        <p>
          C/Bailén 41, 28005, Madrid
        </p>
        <a href="tel:+34918615391"><strong>Tel:</strong> <span>918615391</span></a>
        <a href="mailto:carlos@interletrados.com"><strong>email</strong> <span>carlos@interletrados.com</span></a>
        <p>
          Horario:<br>
          LUN-SAB: 9 a 17 <br>
          DOM: Cerrados
        </p>
      </div>


    </div>
    <div class="credits">

      <p>
        <span class="octicon octicon-pencil"></span> y <span class="octicon octicon-code"></span> con <span class="octicon octicon-heart"></span> por <em><a href="http://www.interletrados.com/agencia">Interletrados</a></em> @2016
      </p>

    </div>
</footer>
