<header>
    <div class="logo">{%include logo.html%}</div>
    <nav>
      <a href="#servicios">Servicios</a>
      <a href="#quienes">Quiénes Somos</a>
      <a href="#consulta">Consulta</a>
      <a href="#location">Dónde Estamos</a>
      <a href="#buscar"><span class="octicon octicon-search"></span>
  </a>
    </nav>
    <section class="hero-shot">
      <h1>Siempre mejor prevenir que lamentar</h1>
      <h2>La mejor asesoría jurídica a tu medida</h2>
      <a href="#servicios"><button type="submit" name="button">Consulta Nuestros Servicios</button></a>

    </section>

  </header>
