<div id="testimonial">
  <span class="left"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg width="24px" height="43px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
        <title>left</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Despacho-Desktop" transform="translate(-148.000000, -1438.000000)" stroke-width="5" stroke="#9B9B9B">
                <g id="Quiénes-Somos" transform="translate(127.000000, 1197.000000)">
                    <polyline id="left" transform="translate(33.855413, 262.619512) scale(-1, 1) translate(-33.855413, -262.619512) " points="25.0016518 243.595122 42.8815575 262.48978 24.8292683 281.643902"></polyline>
                </g>
            </g>
        </g>
    </svg></span></a><h1>Qué opinan nuestros clientes</h1>
    <p>
      “Quería constituir una sociedad limitada y no sabía por donde empezar… No tenía idea de cuánto me costaría, los documentos que hacían falta o si tendría que acudir a un notario. Afortunadamente buscando en internet encontré un artículo de Law&Order donde hablaban del tema, eso me hizo pensar que dominaban el tema. Así que los contacté y estoy muy contenta con mi decisión, desde hace dos años acudo a ellos para cualquier consulta legal”
    </p>
    <h2>Virginia del Hierro</h2>
    <figure class="avatar">
      <img src="../images/testimonial.png" alt="Avatar" />
    </figure>
    <span class="right"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg width="24px" height="43px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
        <title>righ</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Despacho-Desktop" transform="translate(-873.000000, -1438.000000)" stroke-width="5" stroke="#9B9B9B">
                <g id="Quiénes-Somos" transform="translate(127.000000, 1197.000000)">
                    <polyline id="righ" points="748.689457 243.595122 766.569362 262.48978 748.517073 281.643902"></polyline>
                </g>
            </g>
        </g>
    </svg></span>



</div>
