<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="main-content">
      <section>
          {% include servicios.html %}
      </section>
      <section>
        {% include testimonial.html %}
      </section>
      <section>
        {% include quienes.html %}
      </section>
      <section>
        {% include location.html %}
      </section>
      <section>
        {% include consulta.html %}
      </section>
      <section>
        {% include social.html %}
      </section>
    </div>

    <section>
      {% include footer.html %}

    </section>

  </body>

</html>
